---
layout: page
---

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories.[page.category] | size > 0 %}
  <p>No posts in this category at this time.</p>
{% endunless %}

{% for post in site.categories.[page.category] %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h5 class="post-title">{{ post.title }}</h5>
    </a>
    <!--p class="post-meta" style="font-size: 12px; display: inline-block;">
      Créé par  
      {% if post.author %}
        {{ post.author }}
      {% else %}
        {{ site.title }}
      {% endif %} 
      le {{ post.date | date: "%d/%m/%Y" }}
    </p-->
</div>
{% endfor %}